/*---------Base Styles------*/

* {
    box-sizing: content-box;
}

body {
    font-family: 'Inter', sans-serif;
}


/*---------header Styles------*/
header i {
    color: #3774DF;
    font-size: 1.5em;
}

/*---------Hero Styles------*/

.hero-area {
    background-image: url(../img/herobackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-area button {
    color: #0146C0;
}

/*---------About  Styles------*/

.about-area h4 {
    color: #0146C0;
}

.about-area button {
    background: #0146C0;
    border-radius: 3px;
}

/*---------Product Styles------*/


/*---------Services Styles------*/


/*---------Contact Styles------*/
.contact-section button {
    background-color: #0146C0;
}

.contact-section input,
.contact-section textarea {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

/*---------Footer Styles------*/
.footer-section {
    background-color: rgba(1, 70, 192, 0.87);
}

.footer-section ul {
    list-style-type: none;
}

.footer-section span {
    color: #B4CEFD;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.19);
}